.journal-list {
  padding: 20px 20px 120px;
  margin: 0 auto;
  min-height: max-content;
  height: 100vh;
  background-color: var(--soil-black);
}
  .search-bar {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    background: url('/search.svg') no-repeat;
    background-size: 22px; 
    background-position-x: calc(100% - 10px); /* Positions icon 10px from the right edge */
    background-position-y: center;
  }
  input.search-bar {
    border: 2px solid var(--peasant-gold);
    border-radius: unset;
    background-color: var(--sand-beige);
  }
  .search-bar::placeholder {
    font-weight: 600; 
  }
  
  small {
    color: var(--peasant-gold);
  }
  .note-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 600px;
  }
  
  .note-link {
    text-decoration: none;
    color: inherit;
  }
  
  .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 15px;
    margin-bottom: 10px;
    height: 160px;
    background-color: var(--treasure-map-beige);
  }
  .journal-date {
    display: flex;
    gap: 8px;
  }

  .create-list {
    width: 100%;
    background-color: var(--treasure-map-beige);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .create-list a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .create-list img {
    aspect-ratio: 1;
    width: 40px;
  }
  .create-list p {
    font-weight: 600;
  }