.landing-page {
  background-color: var(--treasure-map-beige);
  color: var(--soil-black);
}

.main-content {
  background-color: var(--soil-black);
  color: var(--divine-white);
  text-align: center;
  padding: 48px 20px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-name {
  font-family: "DRAGON HUNTER";
  font-weight: 400;
  font-size: 36px;
  margin: 0.5rem 0;
}

.tagline {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 36px;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 20px 36px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-signup-button,
.main-login-button,
.signup-button,
.login-button {
  padding: 0.625rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid var(--royal-gold);
}

.main-signup-button,
.main-login-button {
  width: 173px;
}

.main-signup-button,
.signup-button {
  background: var(--ruby-red);
  color: var(--divine-white);
}

.main-login-button,
.login-button {
  background: var(--treasure-map-beige);
  color: var(--soil-black);
}

.features {
  margin-top: 32px;
  font-size: 1rem;
  color: #f2f2f2;
}

.features h2 {
  margin-top: 48px;
  font-size: 1.25rem;
  font-weight: bold;
}

.features p {
  margin: 16px 20px;
}

.cta-section {
  text-align: center;
  margin-top: 2rem;
}

.cta-text {
  font-family: "DRAGON HUNTER";
  font-weight: 400;
  font-size: 36px;
  margin: 0.5rem 0;
}

.cta-subtext {
  margin: 24px 0 36px;
  font-size: 24px;
  font-weight: 700;
}

.footer-home {
  padding: 24px 20px;
}

.footer-brand-container {
  display: flex;
  gap: 8px;
}

.footer-brand {
  color: var(--ruby-red);
  font-family: "DRAGON HUNTER";
  font-weight: 400;
  font-size: 24px;
}

.contact-info {
  margin: 24px 0 36px;
}

.contact-info h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}

.contact-info p {
  font-size: 16px;
  margin: 8px 0;
}

.contact-info-link {
  display: flex;
  gap: 12px;
}

.copyright {
  font-size: 14px;
  margin-bottom: 20px;
}
